{{> main}}

{{#*inline "body"}}
  <section class="hero">
    <div class="container">
      <h1>Welcome to Melody MelodyMover</h1>
      <p>Discover and transfer your favorite music from Spotify to Amazon Music.</p>
      <a href="/login" class="btn">Get Started</a>
    </div>
  </section>
{{/inline}}
